.wrapper {
  max-width: 375px;
  margin: 100px auto;
}

.title {
  text-align: center;
}

.nav {
  display: flex;
  padding: 10px;
  font-size: 0;
  > a {
    flex: 1;
    margin: 0 5px;
    border-radius: 3px;
    text-decoration: none;
    line-height: 22px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    background-color: #ff5000;
  }
}
