<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
  <title>webpack best practice with vue.js</title>
  <% if (process.env.NODE_ENV !== 'production') { %>
  <!-- <script src="/node_modules/vconsole/dist/vconsole.min.js"></script>
  <script src="/node_modules/vconsole-elements/dist/vconsole-elements.min.js"></script> -->
  <% } %>
  <script>
    var __CONFIG__ = {} // global shared config
    // API base path
    __CONFIG__.apiPath = '<%=htmlWebpackPlugin.options.apiPath%>'
    // application version which read from package.json
    __CONFIG__.version = '<%=htmlWebpackPlugin.options.appVersion%>'
    // is debug mode ?
    __CONFIG__.debug = /(\?|&)debug/.test(location.href)
  </script>
  <%=htmlWebpackPlugin.files.webpackManifest%>
</head>
<body>
  <div id="app"></div>
</body>
</html>
