@import './reset.styl'
@import './widgets/nav.styl'

.wrapper {
  width: 960px;
  margin: 30px auto 0;
  background-color: #fff;
}

.main {
  text-align: center;
  padding-bottom: 50px;
  img {
    width: 50%;
  }
}
